body{
    background-image: url("../image/left lamp.jpg");
    background-size: 400px 800px;
    background-position: right;
    background-repeat: no-repeat;
    background-color: rgb(233, 230, 230);

}
.products  {
    padding: 2px 20px;
}
.productSection{
    color: red;
    width: 100%;
    align-content: center;
    justify-content: right;
    background-color:salmon;
}

.productDiscription{
    background-color: rgb(248, 245, 245);
    padding: 10px 30px;
    margin:5px 5px ;
    border-radius: 5px;
    border-bottom: rgb(253, 21, 21) 4px solid;
    max-width: 300px;
    max-height: 200px;
    float:left;
   
}
.productDiscription h3{
    text-align: center;
}

.productDiscription::after{
    content: "";
    clear: both;
    display: table;
}
.c{
    background-color:rgb(48, 120, 161) ;
}